$white: #fff;
$g100: #f1f2f3;
$g200: #e3e6e8;
$g300: #d6dbe0;
$g500: #6a7886;
$g800: #4d5761;
$g900: #121821;
$black: #000;

$p300: #ff738b;
$p400: #ff5472;
$p500: #fc2046;
$p600: #be1d3a;
$p800: #7e0f22;

$b200: #83b7fc;
$b400: #2d72e0;
